# config file for at.outdated.bitcoin.exchange 
# 2014, Erich Birngruber <ebirn@outdated.at>
# see README.md for more information
# 

bitcurex.deposit.btc=
bitcurex.secret=
bitcurex.userid=

bitkonan.deposit.btc=
bitkonan.secret=
bitkonan.userid=

bitstamp.customerid=
bitstamp.secret=
bitstamp.userid=

btce.deposit.btc=
btce.deposit.ltc=
btce.deposit.nmc=
btce.deposit.ppc=
btce.secret=
btce.userid=

bter.deposit.btc=
bter.deposit.ltc=
bter.deposit.ppc=
bter.secret=
bter.userid=

kraken.deposit.btc=
kraken.deposit.ltc=
kraken.deposit.nmc=
kraken.deposit.xrp=
kraken.secret=
kraken.userid=

mtgox.secret=
mtgox.userid=
mtgox.accountid=

vircurex.deposit.btc=
vircurex.deposit.ftc=
vircurex.deposit.ltc=
vircurex.deposit.nmc=
vircurex.deposit.nvc=
vircurex.deposit.ppc=
vircurex.userid=
vircurex.words.balance=

